src/main/resources/АФ 2.21.3д/Схемы/ВсВО/НПФ/Входящие/ВСПН-П_2017-08-09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://пф.рф/ВсВО/НПФ/ВСПН-П/2017-08-09"
           xmlns:ВСПН-П2="http://пф.рф/ВсВО/НПФ/ВСПН-П/2017-08-09" xmlns:НПФ2="http://пф.рф/ВсВО/НПФ/типы/2017-08-09" xmlns:УТ="http://пф.рф/унифицированныеТипы/2014-01-01" targetNamespace="http://пф.рф/ВсВО/НПФ/ВСПН-П/2017-08-09" xmlns:АФ="http://пф.рф/АФ">

	<xs:import namespace="http://пф.рф/АФ" schemaLocation="../../../ТипыОбщие.xsd"/>
	<xs:import namespace="http://пф.рф/унифицированныеТипы/2014-01-01" schemaLocation="../../../УнифТипы_2014-01-01.xsd"/>
	<xs:import namespace="http://пф.рф/ВсВО/НПФ/типы/2017-08-09" schemaLocation="../ТипыНПФ_2017-08-09.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../../../xmldsig_core_schema.xsd"/>

	<xs:annotation>
		<xs:documentation>Сведения о выплате правопреемникам СПН умерших ЗЛ</xs:documentation>
	</xs:annotation>

	<xs:element name="ЭДПФР">
		<xs:annotation>
			<xs:documentation>Корневой элемент. Электронный документ ВСПН-П (Сведения о выплате правопреемникам СПН умерших ЗЛ). Содержит сведения самого документа и служебную информацию об электронном документе.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ВСПН-П">
					<xs:annotation>
						<xs:documentation>Сведения о выплате правопреемникам СПН умерших ЗЛ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Реквизиты" type="УТ:ТипРеквизитыДокумента">
								<xs:annotation>
									<xs:documentation>Дата и номер документа сведений о выплате правопреемникам СПН умерших ЗЛ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="НПФ" type="НПФ2:ТипСведенияНПФ">
								<xs:annotation>
									<xs:documentation>Сведения о НПФ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СписокСведений">
								<xs:annotation>
									<xs:documentation>Перечень сведений о застрахованных лицах и их суммах СПН, переданных НПФ в ПФР</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Запись" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения об одной записи (одном ЗЛ)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="НомерПП" type="xs:positiveInteger">
														<xs:annotation>
															<xs:documentation>Номер записи (строки) по порядку</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ЗЛ" type="НПФ2:ТипЗастрахованноеЛицо">
														<xs:annotation>
															<xs:documentation>Сведения о застрахованном лице</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ДатаСмерти" type="xs:date">
														<xs:annotation>
															<xs:documentation>Дата смерти застрахованного лица</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Суммы">
														<xs:annotation>
															<xs:documentation>Суммы по ЗЛ</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="СВ" type="НПФ2:ТипСуммаНПФ">
																	<xs:annotation>
																		<xs:documentation>Суммы средств страховых взносов ОПС, ИД по ОПС, компенсации по ОПС, гарантийного восполнения и возмещения по ОПС, и общая сумма итогом(руб., коп.)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ДСВ" type="НПФ2:ТипСуммаНПФ">
																	<xs:annotation>
																		<xs:documentation>Суммы средств  взносов ДСВ, ИД по ДСВ, компенсации по ДСВ, гарантийного восполнения и возмещения по ДСВ, и общая сумма итогом(руб., коп.)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="СОФН" type="НПФ2:ТипСуммаНПФ">
																	<xs:annotation>
																		<xs:documentation>Суммы средств на софинансирование, ИД по средствам на софинансирование, компенсации по средствмам на софинансирование, гарантийного восполнения и возмещения по средствам на софинансирование, и общая сумма итогом (руб., коп.)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="МСК" type="НПФ2:ТипСуммаНПФ">
																	<xs:annotation>
																		<xs:documentation>Суммы средств, переданных в рамках 256-ФЗ (средств (части средств) материнского (семейного) капитала, направленная на формирование накопительной части трудовой пенсии), ИД по МСК, компенсации по МСК, гарантийного восполнения и возмещения по МСК, и общая сумма итогом(руб., коп.)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ВсегоСПН" type="УТ:ТипДеньги">
																	<xs:annotation>
																		<xs:documentation>Общая сумма по решению  (руб., коп.)</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Решение">
														<xs:annotation>
															<xs:documentation>Сведения о принятом решении</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Реквизиты" type="УТ:ТипРеквизитыДокумента">
																	<xs:annotation>
																		<xs:documentation>Регистрационные дата и номер решения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Тип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Тип принятого решения</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="ОВ"/>
																			<xs:enumeration value="ДВ"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Источник" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Источник, за счет которого назначена выплата</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="СПН"/>
																			<xs:enumeration value="РЕЗЕРВ"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Правопреемники">
																	<xs:annotation>
																		<xs:documentation>Перечень правопреемников</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Правопреемник" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Сведения о правопреемнике</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="АнкетныеДанные">
																							<xs:annotation>
																								<xs:documentation>ФИО, СНИЛС правопреемника</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element ref="УТ:ФИО">
																										<xs:annotation>
																											<xs:documentation>ФИО правопреемника</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element ref="УТ:СтраховойНомер" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>СНИЛС правопреемника</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="ПлатежныйДокумент" type="УТ:ТипРеквизитыДокумента">
																							<xs:annotation>
																								<xs:documentation>Дата и номер платежного документа</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="Заявление" type="УТ:ТипРеквизитыДокумента">
																							<xs:annotation>
																								<xs:documentation>Дата и номер заявления правопреемника</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="Суммы">
																							<xs:annotation>
																								<xs:documentation>Суммы по правопреемнику</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="СВ" type="УТ:ТипДеньги">
																										<xs:annotation>
																											<xs:documentation>Суммы средств страховых взносов на ОПС</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="ДСВ" type="УТ:ТипДеньги">
																										<xs:annotation>
																											<xs:documentation>Суммы средств ДСВ</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="СОФН" type="УТ:ТипДеньги">
																										<xs:annotation>
																											<xs:documentation>Суммы средств на софинансирование</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="МСК" type="УТ:ТипДеньги">
																										<xs:annotation>
																											<xs:documentation>Суммы средств, переданных в рамках 256-ФЗ (средств (части средств) материнского (семейного) капитала, направленная на формирование накопительной части трудовой пенсии)</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="ВсегоСПН" type="УТ:ТипДеньги">
																										<xs:annotation>
																											<xs:documentation>Общая сумма по правопреемнику</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
								<xs:unique name="УникальныйНомерПП">
									<xs:annotation>
										<xs:documentation>В пределах файла номер записи по порядку  должен быть уникален</xs:documentation>
									</xs:annotation>
									<xs:selector xpath="ВСПН-П2:Запись/ВСПН-П2:НомерПП"/>
									<xs:field xpath="."/>
								</xs:unique>
								<xs:unique name="УникальныйСНИЛС">
									<xs:annotation>
										<xs:documentation>В пределах файла страховой номер застрахованного лица должен быть уникален</xs:documentation>
									</xs:annotation>
									<xs:selector xpath="ВСПН-П2:Запись/ВСПН-П2:ЗЛ/УТ:СтраховойНомер"/>
									<xs:field xpath="."/>
								</xs:unique>
							</xs:element>
							<xs:element name="КоличествоЗЛ" type="xs:positiveInteger">
								<xs:annotation>
									<xs:documentation>Итого количество ЗЛ по документу</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ЭлектроннаяПодпись" xmlns="http://www.w3.org/2000/09/xmldsig#" type="SignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Электронная подпись (ЭП) в соответствии со спецификацией XMLDsig</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="СлужебнаяИнформация" type="НПФ2:ТипСлужебнаяИнформацияНПФ">
					<xs:annotation>
						<xs:documentation>Служебная информация об электронном документе</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>