src/main/resources/АФ 2.21.3д/Схемы/ВсВО/НПФ/Входящие/РСПННПФ_2017-08-09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://пф.рф/ВсВО/НПФ/РСПННПФ/2017-08-09" xmlns:ВНПФ2="http://пф.рф/ВсВО/НПФ/типыВходящие/2017-08-09"
           xmlns:РСПННПФ2="http://пф.рф/ВсВО/НПФ/РСПННПФ/2017-08-09" xmlns:НПФ2="http://пф.рф/ВсВО/НПФ/типы/2017-08-09" xmlns:УТ="http://пф.рф/унифицированныеТипы/2014-01-01" targetNamespace="http://пф.рф/ВсВО/НПФ/РСПННПФ/2017-08-09"
           xmlns:АФ="http://пф.рф/АФ">

	<xs:import namespace="http://пф.рф/АФ" schemaLocation="../../../ТипыОбщие.xsd"/>
	<xs:import namespace="http://пф.рф/унифицированныеТипы/2014-01-01" schemaLocation="../../../УнифТипы_2014-01-01.xsd"/>
	<xs:import namespace="http://пф.рф/ВсВО/НПФ/типыВходящие/2017-08-09" schemaLocation="ТипыВХОДЯЩИЕ_2017-08-09.xsd"/>
	<xs:import namespace="http://пф.рф/ВсВО/НПФ/типы/2017-08-09" schemaLocation="../ТипыНПФ_2017-08-09.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../../../xmldsig_core_schema.xsd"/>

	<xs:annotation>
		<xs:documentation>Сведения об установлении накопительной пенсии по старости и (или) СПВ, единовременной выплаты СПН, о корректировке размера накопительной пенсии по старости и (или) СПВ, и суммах произведенных выплат за счет СПН, полученные от НПФ</xs:documentation>
	</xs:annotation>

	<xs:element name="ЭДПФР">
		<xs:annotation>
			<xs:documentation>Корневой элемент. Электронный документ РСПННПФ (Сведения об установлении накопительной пенсии по старости и (или) СПВ, единовременной выплаты СПН, о корректировке размера накопительной пенсии по старости и (или) СПВ, и суммах произведенных выплат за счет СПН, полученные от НПФ). Содержит сведения самого документа и служебную информацию об электронном документе.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="РСПННПФ">
					<xs:annotation>
						<xs:documentation>Сведения об установлении накопительной пенсии по старости и (или) СПВ, единовременной выплаты СПН, о корректировке размера накопительной пенсии по старости и (или) СПВ, и суммах произведенных выплат за счет СПН, полученные от НПФ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Реквизиты" type="УТ:ТипРеквизитыДокумента">
								<xs:annotation>
									<xs:documentation>Дата и номер сведений</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="НПФ" type="НПФ2:ТипСведенияНПФ">
								<xs:annotation>
									<xs:documentation>Сведения о НПФ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СписокСведений">
								<xs:annotation>
									<xs:documentation>Перечень сведений о застрахованных лицах и сумм фактически произведенных им выплат за счет средств пенсионных накоплений</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Запись" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения об одной записи (одном ЗЛ) сведений</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="НомерПП" type="xs:positiveInteger">
														<xs:annotation>
															<xs:documentation>Номер записи (строки) по порядку</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ЗЛ">
														<xs:annotation>
															<xs:documentation>Сведения о застрахованном лице</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="УТ:ФИО">
																	<xs:annotation>
																		<xs:documentation>ФИО застрахованного лица</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element ref="УТ:СтраховойНомер">
																	<xs:annotation>
																		<xs:documentation>Страховой номер</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:group ref="УТ:ГрДатаРождения">
																	<xs:annotation>
																		<xs:documentation>Дата рождения застрахованного лица</xs:documentation>
																	</xs:annotation>
																</xs:group>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="РешениеОВыплате">
														<xs:annotation>
															<xs:documentation>Решение о выплате</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ВариантРешения" type="НПФ2:ТипВариантРешения">
																	<xs:annotation>
																		<xs:documentation>Вариант решения о выплате
																			ОТКЗ – отказ в установлении
																			УСТН - установление
																			КОРР - корректировка
																			ДОПЛ – доплата
																			ПРОС - приостановление
																			ВОЗБ - возобновление
																			ПРЕК – прекращение</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Реквизиты" type="УТ:ТипРеквизитыДокумента">
																	<xs:annotation>
																		<xs:documentation>Дата и номер решения о выплате</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="РеквизитыЗаявления" type="УТ:ТипРеквизитыДокумента">
														<xs:annotation>
															<xs:documentation>Дата и номер заявление застрахованного лица о назначении выплаты</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="РеквизитыУведомления" type="УТ:ТипРеквизитыДокумента" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Дата и номер уведомления об обращении застрахованного лица</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="КодВыплаты" type="УТ:ТипВидВыплаты" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Код выплаты за счет СПН. Код выплаты не указывается в случае решения об отказе в установлении выплаты.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="НомерППВыплаты" type="xs:nonNegativeInteger" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Порядковый номер выплаты (кол-во месяцев, за которые осуществляется выплата в первом месяце). Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice minOccurs="0">
														<xs:element name="ПричинаПрекращения" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Причина прекращения / приостановления выплаты. Указывается для варианта решения «ПРЕКРАЩЕНИЕ». 
																Возможные значения:
																• СМРТ - в случае смерти получателя выплаты;
																• СРОК - в случае истечения срока выплаты;</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:normalizedString">
																	<xs:enumeration value="СМРТ">
																		<xs:annotation>
																			<xs:documentation>в случае смерти получателя выплаты</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="СРОК">
																		<xs:annotation>
																			<xs:documentation>в случае истечения срока выплаты</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ПричинаПриостановления" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Причина прекращения / приостановления выплаты. Указывается для варианта решения «ПРИОСТАНОВЛЕНИЕ». 
																	Возможные значения:
																	• ПРЗД - в случае переезда получателя выплаты в другой регион;
																	• СМРК - смена реквизитов;
																	• ПРОЧ - прочее.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:normalizedString">
																	<xs:enumeration value="ПРЗД">
																		<xs:annotation>
																			<xs:documentation>в случае переезда получателя выплаты в другой регион;</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="СМРК">
																		<xs:annotation>
																			<xs:documentation>смена реквизитов;</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="ПРОЧ">
																		<xs:annotation>
																			<xs:documentation>прочее</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:choice>
													<xs:element name="ДатаОкончанияВыплаты" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Дата окончания выплаты. Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СуммыДляВыплаты" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Суммы, исходя из которых назначена выплата, руб. Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:group ref="ВНПФ2:ГрСуммыВыплаты">
																	<xs:annotation>
																		<xs:documentation>Суммы в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
																	</xs:annotation>
																</xs:group>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ДатаРасчетаСуммы" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Дата расчета суммы. Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ПерваяВыплата" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сумма к выплате в первом месяце, руб. Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:group ref="ВНПФ2:ГрСуммыВыплаты" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Суммы к выплате в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
																	</xs:annotation>
																</xs:group>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ЕжемесячнаяВыплата" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Размер ежемесячной выплаты, руб. Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:group ref="ВНПФ2:ГрСуммыВыплаты">
																	<xs:annotation>
																		<xs:documentation>Суммы выплат в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
																	</xs:annotation>
																</xs:group>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ДатаНачалаЕВ" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Дата начала ежемесячной выплаты</xs:documentation>
														</xs:annotation>
													</xs:element>

													<xs:element name="ФактическаяВыплата" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сумма выплаченная, руб. Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:group ref="ВНПФ2:ГрСуммыВыплаты">
																	<xs:annotation>
																		<xs:documentation>Суммы выплат в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
																	</xs:annotation>
																</xs:group>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ПериодВыплаты" type="xs:nonNegativeInteger" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Количество месяцев периода выплаты. Не указывается в случае решения об отказе в установлении выплаты</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
								<xs:unique name="УникальныйНомерПП">
									<xs:annotation>
										<xs:documentation>В пределах файла номер записи по порядку  должен быть уникален</xs:documentation>
									</xs:annotation>
									<xs:selector xpath="РСПННПФ2:Запись/РСПННПФ2:НомерПП"/>
									<xs:field xpath="."/>
								</xs:unique>
								<xs:unique name="УникальныйСНИЛС">
									<xs:annotation>
										<xs:documentation>В пределах файла страховой номер застрахованного лица должен быть уникален</xs:documentation>
									</xs:annotation>
									<xs:selector xpath="РСПННПФ2:Запись/РСПННПФ2:ЗЛ/УТ:СтраховойНомер"/>
									<xs:field xpath="."/>
								</xs:unique>
							</xs:element>
							<xs:element name="Итого">
								<xs:annotation>
									<xs:documentation>Строка ИТОГО, с суммами по всем застрахованным лицам из сведений</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="КоличествоЗЛ" type="xs:positiveInteger">
											<xs:annotation>
												<xs:documentation>Итого количество ЗЛ по документу</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СуммыДляВыплаты">
											<xs:annotation>
												<xs:documentation>Суммы, исходя из которых назначена выплата, руб.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:group ref="ВНПФ2:ГрСуммыВыплаты">
														<xs:annotation>
															<xs:documentation>Суммы в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
														</xs:annotation>
													</xs:group>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ПерваяВыплата">
											<xs:annotation>
												<xs:documentation>Сумма к выплате в первом месяце, руб.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:group ref="ВНПФ2:ГрСуммыВыплаты">
														<xs:annotation>
															<xs:documentation>Суммы к выплате в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
														</xs:annotation>
													</xs:group>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ЕжемесячнаяВыплата">
											<xs:annotation>
												<xs:documentation>Размер ежемесячной выплаты, руб.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:group ref="ВНПФ2:ГрСуммыВыплаты">
														<xs:annotation>
															<xs:documentation>Суммы выплат в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
														</xs:annotation>
													</xs:group>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ФактическаяВыплата">
											<xs:annotation>
												<xs:documentation>Сумма выплаченная, руб.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:group ref="ВНПФ2:ГрСуммыВыплаты">
														<xs:annotation>
															<xs:documentation>Суммы выплат в разрезе ОПС, ДСВ, софинансирования, МСК</xs:documentation>
														</xs:annotation>
													</xs:group>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Руководитель" type="НПФ2:ТипРуководитель">
								<xs:annotation>
									<xs:documentation>Сведения о руководителе НПФ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Исполнитель" type="НПФ2:ТипИсполнитель">
								<xs:annotation>
									<xs:documentation>Сведения об исполнителе документа</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ЭлектроннаяПодпись" xmlns="http://www.w3.org/2000/09/xmldsig#" type="SignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Электронная подпись (ЭП) в соответствии со спецификацией XMLDsig</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="СлужебнаяИнформация" type="НПФ2:ТипСлужебнаяИнформацияНПФ">
					<xs:annotation>
						<xs:documentation>Служебная информация об электронном документе</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>