src/main/resources/АФ 2.21.3д/Схемы/ВсВО/НПФ/Входящие/УЗР_2017-08-09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://пф.рф/ВсВО/НПФ/УЗР/2017-08-09" xmlns:УЗР2="http://пф.рф/ВсВО/НПФ/УЗР/2017-08-09" xmlns:УТ="http://пф.рф/унифицированныеТипы/2014-01-01"
           xmlns:НПФ2="http://пф.рф/ВсВО/НПФ/типы/2017-08-09" targetNamespace="http://пф.рф/ВсВО/НПФ/УЗР/2017-08-09" xmlns:АФ="http://пф.рф/АФ">


	<xs:import namespace="http://пф.рф/АФ" schemaLocation="../../../ТипыОбщие.xsd"/>
	<xs:import namespace="http://пф.рф/унифицированныеТипы/2014-01-01" schemaLocation="../../../УнифТипы_2014-01-01.xsd"/>
	<xs:import namespace="http://пф.рф/ВсВО/НПФ/типы/2017-08-09" schemaLocation="../ТипыНПФ_2017-08-09.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../../../xmldsig_core_schema.xsd"/>

	<xs:annotation>
		<xs:documentation>Уведомление негосударственного пенсионного фонда о завершении реорганизации</xs:documentation>
	</xs:annotation>

	<xs:element name="ЭДПФР">
		<xs:annotation>
			<xs:documentation>Корневой элемент. Электронный документ УЗР (Уведомление негосударственного пенсионного фонда о завершении реорганизации). Содержит сведения самого документа и служебную информацию об электронном документе.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="УЗР">
					<xs:annotation>
						<xs:documentation>Уведомление негосударственного пенсионного фонда о завершении реорганизации</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="НПФ">
								<xs:annotation>
									<xs:documentation>Сведения о НПФ, направившем уведомление</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Наименование" type="УТ:ТипНепустаяСтрока">
											<xs:annotation>
												<xs:documentation>Полное (полное фирменное)наименование НПФ</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="НаименованиеФормализованное" type="УТ:ТипКрИмяОрг">
											<xs:annotation>
												<xs:documentation>Сокращенное (формализованное) наименование НПФ</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ИНН" type="УТ:ТипИНН">
											<xs:annotation>
												<xs:documentation>Индивидуальный номер налогоплательщика НПФ</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ОГРН" type="УТ:ТипКодЕГРЮЛ">
											<xs:annotation>
												<xs:documentation>Код ОГРН НПФ в Едином государственном реестре юридических лиц</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Лицензия" type="УТ:ТипРеквизитыДокумента">
											<xs:annotation>
												<xs:documentation>Реквизиты лицензии на осуществление деятельности негосударственного пенсионного фонда по пенсионному обеспечению и пенсионному страхованию</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Адрес" type="УТ:ТипАдресОбщий">
											<xs:annotation>
												<xs:documentation>Адрес места нахождения негосударственного пенсионного фонда (юридический адрес)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Реорганизация">
								<xs:annotation>
									<xs:documentation>Сведения о реорганизации, согласованной Банком России, о которой НПФ уведомляет ПФР</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="РешениеБанка" type="УТ:ТипРеквизитыДокумента">
											<xs:annotation>
												<xs:documentation>Реквизиты решения Банка России о согласовании проведения реорганизации, о которой НПФ уведомляет ПФР</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Форма">
											<xs:annotation>
												<xs:documentation>Форма реорганизации. Возможные значения:
															1 - слияние,
															2 - присоединение,
															3 - выделение,
															4 - разделение,
															5 - преобразование.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Результат">
											<xs:annotation>
												<xs:documentation>Перечень НПФ, продолжающиющих деятельность после завершения реорганизации, созданных в результате реорганизации, прекративших деятельность в результате реорганизации</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ПродолжающиеДеятельность" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Негосударственный пенсионный фонд (негосударственные пенсионные фонды), продолжающий (продолжающие) деятельность после завершения реорганизации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="НПФ" type="ТипУЗРСведенияНПФ" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Сведения о негосударственном пенсионном фонде, продолжающем деятельность после завершения реорганизации</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Созданные" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Негосударственный пенсионный фонд (негосударственные пенсионные фонды), созданный (созданные) в результате реорганизации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="НПФ" type="ТипУЗРСведенияНПФ" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Сведения о негосударственном пенсионном фонде, созданном в результате реорганизации</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ПрекратившиеДеятельность" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Негосударственный пенсионный фонд (негосударственные пенсионные фонды), прекративший (прекратившие) деятельность в результате реорганизации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="НПФ" type="ТипУЗРСведенияНПФ" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Сведения о негосударственном пенсионном фонде, прекратившем деятельность после завершения реорганизации</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="СписокСведений">
								<xs:annotation>
									<xs:documentation>Сведения о застрахованных лицах, страховщиком которых становится негосударственный пенсионный фонд после завершения реорганизации, и застрахованных лицах, страховщиками которых становятся иные негосударственные пенсионные фонды, участвовавшие в реорганизации или созданные в результате реорганизации</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="РеорганизованныйНПФ">
											<xs:annotation>
												<xs:documentation>Сведения о застрахованных лицах, страховщиком которых становится НПФ, направивший уведомление, после завершения реорганизации</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Запись" type="ТипЗаписьУЗР" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения об одном застрахованном лице, страховщиком которого становится НПФ после завершения реорганизации, с указанием его новых реквизитов</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="КоличествоЗЛ" type="xs:positiveInteger">
														<xs:annotation>
															<xs:documentation>Итого количество ЗЛ, страховщиком которых становится НПФ после завершения реорганизации</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="УникальныйНомерПП">
												<xs:annotation>
													<xs:documentation>В пределах файла номер записи по порядку  должен быть уникален</xs:documentation>
												</xs:annotation>
												<xs:selector xpath="УЗР2:Запись/УЗР2:НомерПП"/>
												<xs:field xpath="."/>
											</xs:unique>
										</xs:element>
										<xs:element name="ИныеНПФ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о застрахованных лицах, страховщиками которых становятся иные негосударственные пенсионные фонды, участвовавшие в реорганизации или созданные в результате реорганизации</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Запись" type="ТипЗаписьУЗР" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения об одном застрахованном лице, страховщиком которого становится иной НПФ, участвовавший в реорганизации или созданный в результате реорганизации</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="КоличествоЗЛ" type="xs:positiveInteger">
														<xs:annotation>
															<xs:documentation>Итого количество ЗЛ, страховщиками которых становятся иные негосударственные пенсионные фонды, участвовавшие в реорганизации или созданные в результате реорганизации</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="УникальныйНомерППИныеНПФ">
												<xs:annotation>
													<xs:documentation>В пределах файла номер записи по порядку  должен быть уникален</xs:documentation>
												</xs:annotation>
												<xs:selector xpath="УЗР2:Запись/УЗР2:НомерПП"/>
												<xs:field xpath="."/>
											</xs:unique>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="КоличествоЗЛ" type="xs:positiveInteger">
								<xs:annotation>
									<xs:documentation>Итого количество ЗЛ по документу</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ЕиоНПФ" type="УТ:ТипДолжностноеЛицо">
								<xs:annotation>
									<xs:documentation>ФИО и наименование должности единоличного исполнительного органа негосударственного пенсионного фонда</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ЭлектроннаяПодпись" xmlns="http://www.w3.org/2000/09/xmldsig#" type="SignatureType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Электронная подпись (ЭП) в соответствии со спецификацией XMLDsig</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="СлужебнаяИнформация" type="НПФ2:ТипСлужебнаяИнформацияНПФ">
					<xs:annotation>
						<xs:documentation>Служебная информация об электронном документе</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ТипЗаписьУЗР">
		<xs:annotation>
			<xs:documentation>Тип для представления строки таблицы со сведениями о застрахованных лицах, страховщиком которых становится негосударственный пенсионный фонд после завершения реорганизации, и застрахованных лицах, страховщиками которых становятся иные негосударственные пенсионные фонды, участвовавшие в реорганизации или созданные в результате реорганизации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НомерПП" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Номер записи (строки) по порядку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НПФ">
				<xs:annotation>
					<xs:documentation>Сведения о НПФ</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Наименование" type="УТ:ТипНепустаяСтрока">
							<xs:annotation>
								<xs:documentation>Полное наименование НПФ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ОГРН" type="УТ:ТипКодЕГРЮЛ">
							<xs:annotation>
								<xs:documentation>Код ОГРН НПФ в Едином государственном реестре юридических лиц</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Лицензия" type="УТ:ТипРеквизитыДокумента">
							<xs:annotation>
								<xs:documentation>Реквизиты лицензии на осуществление деятельности негосударственного пенсионного фонда по пенсионному обеспечению и пенсионному страхованию</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ЗЛ">
				<xs:annotation>
					<xs:documentation>Сведения о застрахованном лице</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="УТ:ФИО">
							<xs:annotation>
								<xs:documentation>Фамилия, имя, отчество</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:group ref="УТ:ГрДатаРождения">
							<xs:annotation>
								<xs:documentation>Дата рождения</xs:documentation>
							</xs:annotation>
						</xs:group>
						<xs:element ref="УТ:Пол">
							<xs:annotation>
								<xs:documentation>Пол застрахованного лица</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="УТ:СтраховойНомер">
							<xs:annotation>
								<xs:documentation>Страховой номер</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="СПН" type="НПФ2:ТипСуммаИД">
				<xs:annotation>
					<xs:documentation>Сумма средств пенсионных накоплений застрахованного лица, включая доход от их инвестирования, отраженный на пенсионном счете накопительной пенсии застрахованного лица на дату завершения реорганизации и результат инвестирования средств пенсионных накоплений с начала года до даты реорганизации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Выплаты" type="УТ:ТипДеньги">
				<xs:annotation>
					<xs:documentation>Размер осуществленных до реорганизации негосударственного пенсионного фонда выплат средств пенсионных накоплений застрахованному лицу</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ТипУЗРСведенияНПФ">
		<xs:sequence>
			<xs:element name="Наименование" type="УТ:ТипНепустаяСтрока">
				<xs:annotation>
					<xs:documentation>Полное наименование НПФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ИНН" type="УТ:ТипИНН">
				<xs:annotation>
					<xs:documentation>Индивидуальный номер налогоплательщика НПФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ОГРН" type="УТ:ТипКодЕГРЮЛ">
				<xs:annotation>
					<xs:documentation>Код ОГРН НПФ в Едином государственном реестре юридических лиц</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Адрес" type="УТ:ТипАдресОбщий">
				<xs:annotation>
					<xs:documentation>Адрес места нахождения негосударственного пенсионного фонда (юридический адрес)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>